.App {
  margin: 0px 10vw;
}

text-center {
  text-align: center;
}

p {
  margin: 4px 0px;
}

tr {
  margin: 4px 0px;
}

.pagination-container {
  margin: 10px 0px;
  text-align: center;
}

.countries-container {
  height: 80vh;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.button-selected {
  background-color: chocolate;
  color: white;
}
